@import "../utilities";

.header_section_wrapper {
    height: 65vh;
    width: 100vw;
    background-image: url("../../src/assets/BlogPage/OtherBlogPageImages/Blog_Header_Image.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: darken($color: #ffffff, $amount: 0);
    background-color: #00000034;
    background-blend-mode: multiply;

    .text_container {
        height: 100%;
        width: 60%;
        position: relative;
        .content {
            position: absolute;
            bottom: 30px;
            left: 20px;

            h4 {
                font-size: 2rem;
                font-weight: bold;
            }

            h6 {
                font-weight: bold;
                margin-top: 1rem !important;
                letter-spacing: 1px;
            }
        }
    }
}
