@import "../utilities";

.container_wrapper {
    // background-color: green;
    background-image: url("../../src//assets/Home_Page/Hero_Image.jpeg");
    background-color: rgba(0, 0, 0, 0.447);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    height: 60vh;
    .inner_wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        margin: 0 auto;

        .text_btn {
            position: absolute;
            right: 0;
            top: 0;
            bottom: 0;
            width: 50%;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .text {
                width: 70%;

                p {
                    font-size: 0.855rem;
                    color: darken($color: #fff, $amount: 10);
                }
            }

            .btn {
                margin-top: 2.5rem !important;
                width: 70%;
                display: flex;
                align-items: flex-start;
                .request_btn {
                    border: 1px solid $primary_color;
                    padding: 0.5rem !important;
                    border-radius: 0.2rem;
                    width: 50%;
                    background-color: darken(
                        $color: $primary_color,
                        $amount: 15
                    );
                    color: #000;
                    transition: ease-in-out 600ms all;
                    @include mobile_screen {
                        margin-left: 2rem;
                    }
                    &:hover,
                    &:focus {
                        background-color: darken(
                            $color: $primary_color,
                            $amount: 50
                        );
                        color: #fff;
                    }
                }
            }
        }
    }
}
