.header_section_wrapper {
  height: 65vh;
  width: 100vw;
  background-image: url("../../src/assets/BlogPage/OtherBlogPageImages/Blog_Header_Image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: white;
  background-color: rgba(0, 0, 0, 0.2039215686);
  background-blend-mode: multiply;
}
.header_section_wrapper .text_container {
  height: 100%;
  width: 60%;
  position: relative;
}
.header_section_wrapper .text_container .content {
  position: absolute;
  bottom: 30px;
  left: 20px;
}
.header_section_wrapper .text_container .content h4 {
  font-size: 2rem;
  font-weight: bold;
}
.header_section_wrapper .text_container .content h6 {
  font-weight: bold;
  margin-top: 1rem !important;
  letter-spacing: 1px;
}