.not_found_wrapper {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.not_found_wrapper .inner_wrapper {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.not_found_wrapper .inner_wrapper h4 {
  font-weight: bold;
  font-size: 2rem;
  margin-top: 1rem !important;
}
.not_found_wrapper .inner_wrapper p {
  margin-top: 1rem !important;
  font-weight: bold;
}