@import "../utilities";

.email_wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  .verified {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
      width: 40%;
    }

    h4 {
      font-weight: bold;
    }
    a {
      text-decoration: none;
      width: 100%;
      margin-top: 3rem !important;
      text-align: center;

      .login_btn {
        outline: none;
        padding: 0.2rem 0.5rem !important;
        border: none;
        width: 40%;
        border-radius: 0.2rem;
        transition: ease-in-out 600ms background-color;
        font-weight: bold;
        background-color: darken($color: $primary_color, $amount: 40);
        color: #fff;
      }
    }
  }
}
